range.setup {
	height: 20px;
	min-width: 120px;
	display: inline-block;
	position: relative;
}
range.setup.disabled * {
	cursor: inherit !important;
}
range.setup track {
	display: block;
	position: absolute;
	padding: 0px 5px;
	height: 5px;
	width: 100%;
	top: 8px;
}
range.setup back,
range.setup bar {
	height: 5px;
	display: block;
	border-radius: 8px;
	background: #E1E1E1;
	width: 100%;
}
range.setup bar {
	position: relative;
	background: #A4A4A4;
	width: 0px;
}
range.setup.disabled back,
range.setup.disabled bar {
	opacity: 0.3;
}
range.setup knob {
	cursor: move;
	cursor: -moz-grab;
	cursor: -webkit-grab;
	cursor: grab;
	
	display: block;
	position: absolute;
	background: white;

	-webkit-box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.4);
	box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.4);
	border-radius: 15px;
	height: 20px;
	width: 10px;
	left: 0px;
	top: 0px;
}
range.setup.disabled knob {
	-webkit-box-shadow: 0px 0px 1px 0 rgba(0,0,0,0.2);
	box-shadow: 0px 0px 1px 0 rgba(0,0,0,0.2);
}
range.setup knob:hover {
	background: ButtonHighlight;
}
range.setup knob:active {
	background: ButtonShadow;
	cursor: -moz-grabbing;
	cursor: -webkit-grabbing;
	cursor: grabbing;
}
range.setup.flipped knob {
	background: ButtonShadow;
}
range.setup.flipped knob:active {
	background: white;
}
