widget.switch.real {
	margin: 4px;
	width: auto !important;
	box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.2);
	line-height: 100% !important;
	display: inline-block !important;
	letter-spacing: -1px !important;
	border-radius: 2px !important;
	overflow: hidden !important;
	padding: 0px !important;
	position: relative;
}

widget.switch.real:hover {
	-webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.4);
	box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.4);
}

widget.switch.real * {
	font-size: 0;
}

widget.switch.real label {
	border: none;
	padding: 6px !important;
	font-size: inherit !important;
	letter-spacing: 0px !important;
	display: inline-block !important;
	background-image: none !important;
	font-weight: bold !important;
	margin: 0px !important;
	border-radius: 0px;
	cursor: pointer;
}

widget.switch.real label.first {
	color: #055900 !important;
	background-color: #bcedbb !important;
	text-align: left !important;
	-webkit-border-top-left-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-bottomleft: 2px;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}

widget.switch.real label.second {
	text-align: right !important;
	background-color: #ffc9c9 !important;
	color: #660000 !important;
	-webkit-border-top-right-radius: 2px;
	-webkit-border-bottom-right-radius: 2px;
	-moz-border-radius-topright: 2px;
	-moz-border-radius-bottomright: 2px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}

widget.switch.real input {
	display: none;
}

widget.switch.real thumb {
	top: 0px;
	left: 49%;
	display: block;
	position: absolute;
	background-color: #EAEAEA;
	background-repeat: repeat-x;
	background-image: linear-gradient(#FFFFFF, #EAEAEA);
	background-image: -moz-linear-gradient(#FFFFFF, #EAEAEA);
	background-image: -webkit-linear-gradient(#FFFFFF, #EAEAEA);
	-webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.6);
	box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.6);
	transition: left ease-out 200ms;
	border-radius: 2px;
	cursor: pointer;
	height: 100%;
	width: 52%;
}

widget.switch.real.toggled thumb {
	left: 0%;
}
